{% extends 'food/base.html' %}

    {% block body %}
        {% for i in item_list %}
            <div class="row">
                <div class="col-md-4">
                    <img class="card" height="200px" src="{{i.item_image}}" alt="{{i.item_name}}" />
                </div>
                <div class="col-md-6">
                        <h4>{{ i.item_name }}</h4>
                        <h5>{{i.item_desc}}</h5>
                        <span>${{i.item_price}}</span>
                </div>
                <div class="col-md-2">
                    <a href="{% url 'food:details' i.id %}"><button class="btn btn-success">details</button></a>
                </div>
            </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        
    {% endblock %}
